*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: white;
    margin: auto;
    width: 80%;    
}

header{
    text-align: center;
}

h1{
    color: #e53170;
}

.container{
    background-color: lightgrey;

}

img{
    float: left;
    height: 5rem;
}

.marco {
    height: 5rem;
}

.element{
    color: white;
    background-color: #0f0e17;
    float: left;
    width: calc(33% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
}

.mail{
    color: #50cde6;

}

.clearfix {
    clear: both;
}